node_modules/
dist/
.DS_Store

.env
.env.local
.env.*.local
omoola-supermarket-firebase-adminsdk-fbsvc-04effc069f.json
*-firebase-adminsdk-*.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
.vscode/
